.h1{
    color: rgb(7, 134, 245);
    font-family: sans-serif;
    font-weight: 1000;
    text-align: center;
    text-decoration: underline;

}
.om-mig {
    display: flex;
    list-style:none;
    justify-content: space-evenly;
    flex-direction:column;
    margin: left 1em;
    color:rgb(7, 37, 63);
    font-family: sans-serif;
    font-weight: 1000;
    text-align:center
}

.kebab-text{
    display: flex;
    list-style:none;
    justify-content: space-evenly;
    flex-direction:column;
    margin: left 1em;
    color:rgb(18, 123, 215);
    font-family: sans-serif;
    font-weight: 1000;
    text-align:center
}
ul{
    display:flex;
    justify-content:space-evenly;
    flex-direction:row;
    list-style: none;
    color:rgb(161, 182, 5);
    font-family: sans-serif;
    font-weight: 1000;  
    border-color: brown; 
}

a{
    color: rgb(0, 179, 250);
}

nav{
    border-bottom: 2px rgba(9, 190, 255, 0.532) solid;
}
.kebab{ 
    display: inline-block;
    margin:auto 0;
    height: 300px;
    width: 200px;
    border-radius: 50px;
}
.om-mig-bild {
    display: inline-block;
    margin:auto 0;
    height: 300px;
    width: 300px;
    border-radius: 50px;
}

.rappare{
    display: flex;
    height: 300px;
    width: 200px;
    float: left;
    margin-left: 200px;
    border-radius: 50px;
}
.bilder{
    display: flex;
    justify-content: space-around;
    height: 300px;
    width: 200px;
    float: right;
    margin:auto;
    max-width:100%;
    
}
.bilder:hover{
    transform:scale(1.1);
    box-shadow: 1px 1px 50px;
    color:rgb(5, 99, 182);
    transition:ease-in-out 0.3s;
}
.ruta{
    justify-content: center;
    color: rgb(78, 212, 212);
    border: 3px solid;
    border-radius: 40px;
    width: 500px;
    max-width: 90%;
    margin: 50px auto 0;
    background-image: url(bilder/blåbakgrund.jpg);
}
.kebab {
    display: inline-block;
    height: 300px;
    width: 250px;
    margin: 0 10px; 
    border-radius: 50px;
}

.kebab:hover{
    transform:scale(1.1);
    box-shadow: 1px 1px 50px;
    color:rgb(5, 99, 182);
    transition:ease-in-out 0.3s;
}
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dogge:hover{
    transform:scale(1.1);
    box-shadow: 1px 1px 50px;
    color:rgb(5, 99, 182);
    transition:ease-in-out 0.3s;
    
}

body{
    background-color: rgb(57, 56, 75);
    margin: auto;
    padding: 1px;
}